/* common.css */
/* Стилі до завдання 8 лекція 5 */
root {
  /* Глобальні змінні */
  --primary-font-family: "Roboto", sans-serif;
  --primary-font-size: 0.875rem;
  --primary-text-color: #000;
  --primary-bg-color: #fff;
}

footer {
  /* Змінні для Footer*/
  --footer-text-color: #fff;
  --footer-bg-color: #000;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
