@import url("./common.css");

/* Використання глобальних змінних для елемента body */
@import url(common.css);
body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

/* Завдання 6 */
/* * {
  margin: 0;
  padding: 0;
 }

 @import url("my-imported-styles.css"); */

/* Неправильне розміщення @import. Згідно специфікації CSS, правило @import повинно розташовуватися на початку CSS-файлу */
