@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}

h6 {
  color: #d8d8d8;
}
button {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #1d1d1d;
  color: aliceblue;
  padding: 13px 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #fb774b;
  border: none;
}

.navbar {
  font-size: 16px;
  top: 0;
  left: 0;
}
.navbar-light .navbar-nav .navbar-link {
  padding: 0 20px;
  color: black;
  transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar i.nav-link:hover .navbar-light .navbar-nav .nav-link:active,
.navbar i:active {
  color: coral;
}

.navbar i {
  font-size: 1.2rem;
  padding: 0;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}
#navbarSupportedContent > ul {
  margin: 1rem;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.custom-nav .footer-link {
  color: white;
}
.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  transition: background-color 0.3s ease-in-out;
}

.social-icons a:hover {
  background-color: #ff7f50;
}

.social-icons a i {
  color: #000000;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover i {
  color: #ffffff;
}
