/* css/main.css */
/* Стилі до завдання 3 */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
/* Слова «Outer» відображається з розміром 25,6 пікселів, а слово «inner» — 40,96 пікселів. */
div {
  font-size: 1em;
}
span {
  font-size: 1.6em;
}
/* Стилі до завдання 4 */
strong {
  font-size: 1.6em;
}
/* Стилі до завдання 5 */
ul {
  list-style-type: square;
}
